.popup {
  display: none;
  width: 890px;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: fixed;
  align-content: center;
  z-index: 1;
  color: #000;
  background-color: rgba(0, 0, 0, 0.8);
}
.popup_open {
  display: block;
}
.popup__container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  height: 550px;
  position: relative;
  margin: auto;
  align-items: flex-end;
}
.popup__button {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
}
.popup__button_close {
  width: 50px;
  height: 50px;
  font-size: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  background: url(../images/Close\ Icon.svg) center no-repeat;
}
.popup__form {
  margin: 0 auto;
  max-width: 430px;
  background-color: #fff;
  border-radius: 10px;
}
.popup__title {
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  width: 330px;
  margin: 0 36px;
  padding: 34px 0 54px;
}
.popup__content {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 360px;
  margin: auto;
  border: 0;
  padding: 0;
}
/* .popup__label {
} */
.popup__input {
  width: 360px;
  border: 0;
  border-bottom: 1px solid #000;
}
.popup__button_save {
  width: 100%;
  background-color: #000;
  padding: 10px;
  margin-bottom: 40px;
  cursor: pointer;
}
.popup__button_save:hover {
  opacity: 80%;
}
.popup__image-container {
  padding: 20px;
  text-align: end;
}

.popup__image {
  width: 75vw;
  height: 75vh;
  max-height: 540px;
  display: block;
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 585px) {
  .popup__container {
    max-width: 310px;
    height: 400px;
  }
  .popup__form {
    max-width: 300px;
  }
  .popup__content {
    width: 240px;
  }
  .popup__input {
    width: 240px;
  }
  .popup__button_save {
    width: 240px;
  }
}
